In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
full_train = pd.read_csv('data/train.csv')
full_test = pd.read_csv('data/test.csv')
full_train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [4]:
full_test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

In [5]:
from sklearn.preprocessing import LabelEncoder
def pre_le(df, features):
    out = df.copy()
    for feature in features:
        le = LabelEncoder()
        le.fit(full_train[feature])
        out[f'le_{feature}'] = le.transform(df[feature])
    return out

In [6]:
train = pre_le(full_train, ['country', 'store', 'product'])
test = pre_le(full_test, ['country', 'store', 'product'])

In [7]:
def ext_ymd(df):
    out = df.copy()
    add = df['date'].str.split('-', expand=True).applymap(np.int)
    add.columns=['year', 'month', 'day']
    return pd.concat([out, add], axis=1)

In [8]:
train = ext_ymd(train)
test = ext_ymd(test)

In [9]:
train = train.set_index('row_id', drop=True)
test = test.set_index('row_id', drop=True)

In [10]:
drops = ['date', 'country', 'store', 'product']
train.drop(drops, axis=1, inplace=True)
test.drop(drops, axis=1, inplace=True)

In [11]:
train.head()

        num_sold  le_country  le_store  le_product  year  month  day
row_id
0            329           0         0           1  2015      1    1
1            520           0         0           0  2015      1    1
2            146           0         0           2  2015      1    1
3            572           0         1           1  2015      1    1
4            911           0         1           0  2015      1    1

In [12]:
test.head()

        le_country  le_store  le_product  year  month  day
row_id
26298            0         0           1  2019      1    1
26299            0         0           0  2019      1    1
26300            0         0           2  2019      1    1
26301            0         1           1  2019      1    1
26302            0         1           0  2019      1    1

### do nothing

In [13]:
X = train.copy()
y = X.pop('num_sold')
test_X = test.copy()

In [14]:
X.head()

        le_country  le_store  le_product  year  month  day
row_id
0                0         0           1  2015      1    1
1                0         0           0  2015      1    1
2                0         0           2  2015      1    1
3                0         1           1  2015      1    1
4                0         1           0  2015      1    1

In [15]:
from xgboost import XGBRegressor
xgb = XGBRegressor(
    eta=0.1
)
xgb.fit(X, y)
pred = xgb.predict(test_X)

In [16]:
out = pd.DataFrame({
    'row_id': full_test['row_id'],
    'num_sold': pred
})

In [17]:
out.head()

   row_id     num_sold
0   26298   394.650482
1   26299   632.351257
2   26300   195.868576
3   26301   696.892639
4   26302  1091.807007

In [18]:
out.to_csv('./baseline0.csv', index=False)
# score = 11.32674

In [19]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

def score_xgb_kfold(X, y, test_X, eta=0.1):
    result = []
    scores = []
    for train_idx, valid_idx in kf.split(X, y):
        train_X = X.iloc[train_idx]
        valid_X = X.iloc[valid_idx]
        train_y = y.iloc[train_idx]
        valid_y = y.iloc[valid_idx]
        xgb = XGBRegressor(
            n_estimators=10000,
            random_state=42,
            eta=eta
        )
        xgb.fit(
            train_X, train_y,
            early_stopping_rounds=100,
            eval_set=[(valid_X, valid_y)],
            verbose=50
        )
        result.append(xgb.predict(test_X))
        scores.append(xgb.best_score)
    
    return [result, scores]

results, scores = score_xgb_kfold(X, y, test_X)

[0]	validation_0-rmse:426.37817
[50]	validation_0-rmse:62.06910
[100]	validation_0-rmse:56.82235
[150]	validation_0-rmse:53.08333
[200]	validation_0-rmse:50.22179
[250]	validation_0-rmse:48.43843
[300]	validation_0-rmse:47.23341
[350]	validation_0-rmse:45.74092
[400]	validation_0-rmse:44.91613
[450]	validation_0-rmse:44.10075
[500]	validation_0-rmse:43.02688
[550]	validation_0-rmse:42.13851
[600]	validation_0-rmse:41.38398
[650]	validation_0-rmse:40.79472
[700]	validation_0-rmse:40.33329
[750]	validation_0-rmse:39.95870
[800]	validation_0-rmse:39.47558
[850]	validation_0-rmse:39.20258
[900]	validation_0-rmse:38.98410
[950]	validation_0-rmse:38.64457
[1000]	validation_0-rmse:38.43111
[1050]	validation_0-rmse:38.22881
[1100]	validation_0-rmse:37.99885
[1150]	validation_0-rmse:37.80731
[1200]	validation_0-rmse:37.68413
[1250]	validation_0-rmse:37.50163
[1300]	validation_0-rmse:37.33464
[1350]	validation_0-rmse:37.25781
[1400]	validation_0-rmse:37.14535
[1450]	validation_0-rmse:37.00731
[1500]	validation_0-rmse:36.88720
[1550]	validation_0-rmse:36.74212
[1600]	validation_0-rmse:36.64142
[1650]	validation_0-rmse:36.54929
[1700]	validation_0-rmse:36.46931
[1750]	validation_0-rmse:36.39957
[1800]	validation_0-rmse:36.30356
[1850]	validation_0-rmse:36.22459
[1900]	validation_0-rmse:36.12408
[1950]	validation_0-rmse:36.04233
[2000]	validation_0-rmse:35.94719
[2050]	validation_0-rmse:35.92063
[2100]	validation_0-rmse:35.84718
[2150]	validation_0-rmse:35.79232
[2200]	validation_0-rmse:35.74656
[2250]	validation_0-rmse:35.68484
[2300]	validation_0-rmse:35.64831
[2350]	validation_0-rmse:35.59611
[2400]	validation_0-rmse:35.55176
[2450]	validation_0-rmse:35.48851
[2500]	validation_0-rmse:35.43519
[2550]	validation_0-rmse:35.36141
[2600]	validation_0-rmse:35.35879
[2650]	validation_0-rmse:35.30078
[2700]	validation_0-rmse:35.26341
[2750]	validation_0-rmse:35.24544
[2800]	validation_0-rmse:35.21285
[2850]	validation_0-rmse:35.15906
[2900]	validation_0-rmse:35.15830
[2950]	validation_0-rmse:35.11109
[3000]	validation_0-rmse:35.07881
[3050]	validation_0-rmse:35.05395
[3100]	validation_0-rmse:35.03802
[3150]	validation_0-rmse:34.99823
[3200]	validation_0-rmse:34.97416
[3250]	validation_0-rmse:34.98219
[3300]	validation_0-rmse:34.95670
[3350]	validation_0-rmse:34.93938
[3400]	validation_0-rmse:34.91156
[3450]	validation_0-rmse:34.91240
[3500]	validation_0-rmse:34.90165
[3550]	validation_0-rmse:34.88698
[3600]	validation_0-rmse:34.88011
[3650]	validation_0-rmse:34.87778
[3700]	validation_0-rmse:34.86651
[3750]	validation_0-rmse:34.88193
[3783]	validation_0-rmse:34.87612
[0]	validation_0-rmse:428.82852
[50]	validation_0-rmse:65.57121
[100]	validation_0-rmse:58.53206
[150]	validation_0-rmse:54.78029
[200]	validation_0-rmse:51.63548
[250]	validation_0-rmse:49.36538
[300]	validation_0-rmse:48.05788
[350]	validation_0-rmse:46.96847
[400]	validation_0-rmse:46.03606
[450]	validation_0-rmse:45.08815
[500]	validation_0-rmse:44.28595
[550]	validation_0-rmse:43.59118
[600]	validation_0-rmse:42.84931
[650]	validation_0-rmse:42.20629
[700]	validation_0-rmse:41.82952
[750]	validation_0-rmse:41.49636
[800]	validation_0-rmse:41.14088
[850]	validation_0-rmse:40.83598
[900]	validation_0-rmse:40.46328
[950]	validation_0-rmse:40.16513
[1000]	validation_0-rmse:39.98322
[1050]	validation_0-rmse:39.77483
[1100]	validation_0-rmse:39.51741
[1150]	validation_0-rmse:39.35736
[1200]	validation_0-rmse:39.20749
[1250]	validation_0-rmse:39.05535
[1300]	validation_0-rmse:38.89680
[1350]	validation_0-rmse:38.73074
[1400]	validation_0-rmse:38.60417
[1450]	validation_0-rmse:38.46366
[1500]	validation_0-rmse:38.35623
[1550]	validation_0-rmse:38.22765
[1600]	validation_0-rmse:38.10184
[1650]	validation_0-rmse:38.00185
[1700]	validation_0-rmse:37.90906
[1750]	validation_0-rmse:37.83376
[1800]	validation_0-rmse:37.74551
[1850]	validation_0-rmse:37.70184
[1900]	validation_0-rmse:37.58134
[1950]	validation_0-rmse:37.50412
[2000]	validation_0-rmse:37.43352
[2050]	validation_0-rmse:37.39349
[2100]	validation_0-rmse:37.34208
[2150]	validation_0-rmse:37.29178
[2200]	validation_0-rmse:37.22747
[2250]	validation_0-rmse:37.16792
[2300]	validation_0-rmse:37.11730
[2350]	validation_0-rmse:37.04956
[2400]	validation_0-rmse:36.99887
[2450]	validation_0-rmse:36.95740
[2500]	validation_0-rmse:36.92373
[2550]	validation_0-rmse:36.90153
[2600]	validation_0-rmse:36.88053
[2650]	validation_0-rmse:36.83566
[2700]	validation_0-rmse:36.81617
[2750]	validation_0-rmse:36.77951
[2800]	validation_0-rmse:36.74717
[2850]	validation_0-rmse:36.73136
[2900]	validation_0-rmse:36.71375
[2950]	validation_0-rmse:36.70112
[3000]	validation_0-rmse:36.68210
[3050]	validation_0-rmse:36.68291
[3100]	validation_0-rmse:36.64846
[3150]	validation_0-rmse:36.63517
[3200]	validation_0-rmse:36.63801
[3220]	validation_0-rmse:36.64090
[0]	validation_0-rmse:420.25156
[50]	validation_0-rmse:62.01724
[100]	validation_0-rmse:56.76553
[150]	validation_0-rmse:53.02343
[200]	validation_0-rmse:50.52278
[250]	validation_0-rmse:48.75602
[300]	validation_0-rmse:47.32222
[350]	validation_0-rmse:45.73862
[400]	validation_0-rmse:44.71186
[450]	validation_0-rmse:43.71109
[500]	validation_0-rmse:42.70679
[550]	validation_0-rmse:42.05374
[600]	validation_0-rmse:41.55074
[650]	validation_0-rmse:41.07227
[700]	validation_0-rmse:40.48486
[750]	validation_0-rmse:40.05918
[800]	validation_0-rmse:39.74216
[850]	validation_0-rmse:39.46934
[900]	validation_0-rmse:39.05772
[950]	validation_0-rmse:38.73420
[1000]	validation_0-rmse:38.57338
[1050]	validation_0-rmse:38.45663
[1100]	validation_0-rmse:38.28684
[1150]	validation_0-rmse:38.06575
[1200]	validation_0-rmse:37.88631
[1250]	validation_0-rmse:37.74784
[1300]	validation_0-rmse:37.62613
[1350]	validation_0-rmse:37.47982
[1400]	validation_0-rmse:37.33347
[1450]	validation_0-rmse:37.22792
[1500]	validation_0-rmse:37.13547
[1550]	validation_0-rmse:37.05365
[1600]	validation_0-rmse:36.96563
[1650]	validation_0-rmse:36.90258
[1700]	validation_0-rmse:36.80937
[1750]	validation_0-rmse:36.72549
[1800]	validation_0-rmse:36.62296
[1850]	validation_0-rmse:36.57398
[1900]	validation_0-rmse:36.46014
[1950]	validation_0-rmse:36.40905
[2000]	validation_0-rmse:36.36497
[2050]	validation_0-rmse:36.28776
[2100]	validation_0-rmse:36.22739
[2150]	validation_0-rmse:36.16668
[2200]	validation_0-rmse:36.10155
[2250]	validation_0-rmse:36.05579
[2300]	validation_0-rmse:35.99735
[2350]	validation_0-rmse:35.96789
[2400]	validation_0-rmse:35.90483
[2450]	validation_0-rmse:35.86028
[2500]	validation_0-rmse:35.80971
[2550]	validation_0-rmse:35.76785
[2600]	validation_0-rmse:35.72488
[2650]	validation_0-rmse:35.68022
[2700]	validation_0-rmse:35.62410
[2750]	validation_0-rmse:35.61029
[2800]	validation_0-rmse:35.56504
[2850]	validation_0-rmse:35.53955
[2900]	validation_0-rmse:35.49887
[2950]	validation_0-rmse:35.50449
[3000]	validation_0-rmse:35.49428
[3050]	validation_0-rmse:35.44444
[3100]	validation_0-rmse:35.42427
[3150]	validation_0-rmse:35.38331
[3200]	validation_0-rmse:35.35869
[3250]	validation_0-rmse:35.32756
[3300]	validation_0-rmse:35.31518
[3350]	validation_0-rmse:35.31361
[3400]	validation_0-rmse:35.28892
[3450]	validation_0-rmse:35.27484
[3500]	validation_0-rmse:35.25701
[3550]	validation_0-rmse:35.21896
[3600]	validation_0-rmse:35.21110
[3650]	validation_0-rmse:35.19224
[3700]	validation_0-rmse:35.17607
[3750]	validation_0-rmse:35.16270
[3800]	validation_0-rmse:35.15435
[3850]	validation_0-rmse:35.16217
[3900]	validation_0-rmse:35.13236
[3950]	validation_0-rmse:35.11929
[4000]	validation_0-rmse:35.09573
[4050]	validation_0-rmse:35.08960
[4100]	validation_0-rmse:35.07362
[4150]	validation_0-rmse:35.05730
[4200]	validation_0-rmse:35.05310
[4250]	validation_0-rmse:35.05193
[4300]	validation_0-rmse:35.03845
[4350]	validation_0-rmse:35.02621
[4400]	validation_0-rmse:35.02060
[4450]	validation_0-rmse:35.01231
[4500]	validation_0-rmse:35.00034
[4550]	validation_0-rmse:35.00765
[4600]	validation_0-rmse:34.99761
[4650]	validation_0-rmse:34.98618
[4700]	validation_0-rmse:34.98860
[4749]	validation_0-rmse:34.98733
[0]	validation_0-rmse:424.37613
[50]	validation_0-rmse:61.21281
[100]	validation_0-rmse:55.47021
[150]	validation_0-rmse:52.08238
[200]	validation_0-rmse:49.72874
[250]	validation_0-rmse:48.18103
[300]	validation_0-rmse:46.89651
[350]	validation_0-rmse:45.36594
[400]	validation_0-rmse:44.27571
[450]	validation_0-rmse:43.42942
[500]	validation_0-rmse:42.71567
[550]	validation_0-rmse:42.02928
[600]	validation_0-rmse:41.46073
[650]	validation_0-rmse:40.97544
[700]	validation_0-rmse:40.47709
[750]	validation_0-rmse:40.06083
[800]	validation_0-rmse:39.65273
[850]	validation_0-rmse:39.32501
[900]	validation_0-rmse:39.09562
[950]	validation_0-rmse:38.88011
[1000]	validation_0-rmse:38.58653
[1050]	validation_0-rmse:38.43805
[1100]	validation_0-rmse:38.28822
[1150]	validation_0-rmse:38.11345
[1200]	validation_0-rmse:37.92760
[1250]	validation_0-rmse:37.81852
[1300]	validation_0-rmse:37.70953
[1350]	validation_0-rmse:37.55418
[1400]	validation_0-rmse:37.45515
[1450]	validation_0-rmse:37.37082
[1500]	validation_0-rmse:37.29066
[1550]	validation_0-rmse:37.21687
[1600]	validation_0-rmse:37.13524
[1650]	validation_0-rmse:37.02553
[1700]	validation_0-rmse:36.95266
[1750]	validation_0-rmse:36.89049
[1800]	validation_0-rmse:36.83104
[1850]	validation_0-rmse:36.77743
[1900]	validation_0-rmse:36.70710
[1950]	validation_0-rmse:36.62010
[2000]	validation_0-rmse:36.57195
[2050]	validation_0-rmse:36.52000
[2100]	validation_0-rmse:36.48184
[2150]	validation_0-rmse:36.44538
[2200]	validation_0-rmse:36.40101
[2250]	validation_0-rmse:36.38240
[2300]	validation_0-rmse:36.30724
[2350]	validation_0-rmse:36.26008
[2400]	validation_0-rmse:36.20646
[2450]	validation_0-rmse:36.13963
[2500]	validation_0-rmse:36.11609
[2550]	validation_0-rmse:36.08376
[2600]	validation_0-rmse:36.06352
[2650]	validation_0-rmse:36.02009
[2700]	validation_0-rmse:35.99220
[2750]	validation_0-rmse:35.95099
[2800]	validation_0-rmse:35.92255
[2850]	validation_0-rmse:35.90314
[2900]	validation_0-rmse:35.87080
[2950]	validation_0-rmse:35.88833
[3000]	validation_0-rmse:35.87642
[3018]	validation_0-rmse:35.86852
[0]	validation_0-rmse:424.05057
[50]	validation_0-rmse:63.74580
[100]	validation_0-rmse:57.99950
[150]	validation_0-rmse:54.00278
[200]	validation_0-rmse:51.74804
[250]	validation_0-rmse:49.67218
[300]	validation_0-rmse:47.97061
[350]	validation_0-rmse:46.66293
[400]	validation_0-rmse:45.71401
[450]	validation_0-rmse:44.67512
[500]	validation_0-rmse:43.96118
[550]	validation_0-rmse:43.09993
[600]	validation_0-rmse:42.69832
[650]	validation_0-rmse:42.13302
[700]	validation_0-rmse:41.71324
[750]	validation_0-rmse:41.36473
[800]	validation_0-rmse:41.07997
[850]	validation_0-rmse:40.71694
[900]	validation_0-rmse:40.38178
[950]	validation_0-rmse:40.17415
[1000]	validation_0-rmse:39.94455
[1050]	validation_0-rmse:39.62048
[1100]	validation_0-rmse:39.44994
[1150]	validation_0-rmse:39.20868
[1200]	validation_0-rmse:39.00394
[1250]	validation_0-rmse:38.88598
[1300]	validation_0-rmse:38.77781
[1350]	validation_0-rmse:38.62677
[1400]	validation_0-rmse:38.50818
[1450]	validation_0-rmse:38.35459
[1500]	validation_0-rmse:38.24963
[1550]	validation_0-rmse:38.14613
[1600]	validation_0-rmse:38.02306
[1650]	validation_0-rmse:37.96631
[1700]	validation_0-rmse:37.85726
[1750]	validation_0-rmse:37.77513
[1800]	validation_0-rmse:37.68147
[1850]	validation_0-rmse:37.63948
[1900]	validation_0-rmse:37.54777
[1950]	validation_0-rmse:37.47522
[2000]	validation_0-rmse:37.41282
[2050]	validation_0-rmse:37.34772
[2100]	validation_0-rmse:37.29750
[2150]	validation_0-rmse:37.21336
[2200]	validation_0-rmse:37.13408
[2250]	validation_0-rmse:37.08380
[2300]	validation_0-rmse:37.02001
[2350]	validation_0-rmse:36.97324
[2400]	validation_0-rmse:36.95123
[2450]	validation_0-rmse:36.90185
[2500]	validation_0-rmse:36.88440
[2550]	validation_0-rmse:36.84251
[2600]	validation_0-rmse:36.81516
[2650]	validation_0-rmse:36.75010
[2700]	validation_0-rmse:36.72434
[2750]	validation_0-rmse:36.70267
[2800]	validation_0-rmse:36.66808
[2850]	validation_0-rmse:36.67141
[2900]	validation_0-rmse:36.62513
[2950]	validation_0-rmse:36.60986
[3000]	validation_0-rmse:36.56449
[3050]	validation_0-rmse:36.51703
[3100]	validation_0-rmse:36.49560
[3150]	validation_0-rmse:36.47660
[3200]	validation_0-rmse:36.49778
[3250]	validation_0-rmse:36.45247
[3300]	validation_0-rmse:36.43051
[3350]	validation_0-rmse:36.43268
[3400]	validation_0-rmse:36.40784
[3450]	validation_0-rmse:36.38052
[3500]	validation_0-rmse:36.36562
[3550]	validation_0-rmse:36.32515
[3600]	validation_0-rmse:36.31309
[3650]	validation_0-rmse:36.27642
[3700]	validation_0-rmse:36.27583
[3750]	validation_0-rmse:36.24726
[3800]	validation_0-rmse:36.21097
[3850]	validation_0-rmse:36.16813
[3900]	validation_0-rmse:36.16120
[3950]	validation_0-rmse:36.12425
[4000]	validation_0-rmse:36.09600
[4050]	validation_0-rmse:36.07165
[4100]	validation_0-rmse:36.05942
[4150]	validation_0-rmse:36.05503
[4200]	validation_0-rmse:36.01881
[4250]	validation_0-rmse:36.00541
[4300]	validation_0-rmse:35.99623
[4350]	validation_0-rmse:35.97072
[4400]	validation_0-rmse:35.97581
[4450]	validation_0-rmse:35.96577
[4500]	validation_0-rmse:35.94889
[4550]	validation_0-rmse:35.95979
[4600]	validation_0-rmse:35.94581
[4650]	validation_0-rmse:35.93215
[4700]	validation_0-rmse:35.93053
[4750]	validation_0-rmse:35.92477
[4800]	validation_0-rmse:35.93043
[4850]	validation_0-rmse:35.91318
[4900]	validation_0-rmse:35.89779
[4950]	validation_0-rmse:35.89477
[5000]	validation_0-rmse:35.88040
[5050]	validation_0-rmse:35.87549
[5100]	validation_0-rmse:35.86705
[5150]	validation_0-rmse:35.85467
[5200]	validation_0-rmse:35.86125
[5250]	validation_0-rmse:35.85833
[5251]	validation_0-rmse:35.85813

In [20]:
scores

[34.861332, 36.634113, 34.986076, 35.864887, 35.853592]

In [21]:
results = pd.DataFrame(results).T
results.head()

             0            1            2            3            4
0   412.907867   400.901703   408.319305   409.925232   401.973572
1   616.982544   624.344849   618.577087   616.717834   635.024414
2   175.942612   174.825714   173.622498   176.511047   178.411392
3   714.360229   712.612244   602.812561   700.241089   718.233643
4  1045.725708  1105.031616  1040.977051  1050.284302  1040.750244

In [22]:
pred = results.mean(axis=1)
pred.head()

0     406.805536
1     622.329346
2     175.862653
3     689.651953
4    1056.553784
dtype: float64

In [23]:
out = pd.DataFrame({
    'row_id': full_test['row_id'],
    'num_sold': pred
})
out.head()

   row_id     num_sold
0   26298   406.805536
1   26299   622.329346
2   26300   175.862653
3   26301   689.651953
4   26302  1056.553784

In [24]:
out.to_csv(
    'baseline_kfold.csv',
    index=False
)
# score: 10.45348

## adding weekday info

In [25]:
import datetime as dt

In [26]:
X.head()

        le_country  le_store  le_product  year  month  day
row_id
0                0         0           1  2015      1    1
1                0         0           0  2015      1    1
2                0         0           2  2015      1    1
3                0         1           1  2015      1    1
4                0         1           0  2015      1    1

In [27]:
X['weekday'] = pd.to_datetime(
    X[['year', 'month', 'day']]
).dt.weekday

In [28]:
test_X['weekday'] = pd.to_datetime(
    test_X[['year', 'month', 'day']]
).dt.weekday

In [29]:
results2, scores2 = score_xgb_kfold(X, y, test_X)

[0]	validation_0-rmse:426.49982
[50]	validation_0-rmse:43.32092
[100]	validation_0-rmse:35.20581
[150]	validation_0-rmse:33.02781
[200]	validation_0-rmse:31.29678
[250]	validation_0-rmse:30.57571
[300]	validation_0-rmse:30.16265
[350]	validation_0-rmse:29.74012
[400]	validation_0-rmse:29.44718
[450]	validation_0-rmse:29.27487
[500]	validation_0-rmse:29.15210
[550]	validation_0-rmse:29.11538
[600]	validation_0-rmse:29.03598
[650]	validation_0-rmse:28.93058
[700]	validation_0-rmse:28.89637
[750]	validation_0-rmse:28.83608
[800]	validation_0-rmse:28.82518
[850]	validation_0-rmse:28.81712
[862]	validation_0-rmse:28.81710
[0]	validation_0-rmse:428.95706
[50]	validation_0-rmse:48.97757
[100]	validation_0-rmse:39.00986
[150]	validation_0-rmse:36.13636
[200]	validation_0-rmse:33.87432
[250]	validation_0-rmse:32.64958
[300]	validation_0-rmse:32.00164
[350]	validation_0-rmse:31.65492
[400]	validation_0-rmse:31.44569
[450]	validation_0-rmse:31.25582
[500]	validation_0-rmse:31.05090
[550]	validation_0-rmse:30.93647
[600]	validation_0-rmse:30.85281
[650]	validation_0-rmse:30.74358
[700]	validation_0-rmse:30.69094
[750]	validation_0-rmse:30.64047
[800]	validation_0-rmse:30.63987
[850]	validation_0-rmse:30.60759
[900]	validation_0-rmse:30.58674
[950]	validation_0-rmse:30.57217
[1000]	validation_0-rmse:30.57874
[1050]	validation_0-rmse:30.54767
[1100]	validation_0-rmse:30.56832
[1150]	validation_0-rmse:30.56040
[1166]	validation_0-rmse:30.57144
[0]	validation_0-rmse:419.94513
[50]	validation_0-rmse:41.92061
[100]	validation_0-rmse:35.08035
[150]	validation_0-rmse:32.52029
[200]	validation_0-rmse:31.11671
[250]	validation_0-rmse:30.30314
[300]	validation_0-rmse:29.74101
[350]	validation_0-rmse:29.32326
[400]	validation_0-rmse:28.95440
[450]	validation_0-rmse:28.79460
[500]	validation_0-rmse:28.56430
[550]	validation_0-rmse:28.46399
[600]	validation_0-rmse:28.38650
[650]	validation_0-rmse:28.34988
[700]	validation_0-rmse:28.29427
[750]	validation_0-rmse:28.18339
[800]	validation_0-rmse:28.14229
[850]	validation_0-rmse:28.14737
[900]	validation_0-rmse:28.15276
[913]	validation_0-rmse:28.16691
[0]	validation_0-rmse:423.87622
[50]	validation_0-rmse:42.99713
[100]	validation_0-rmse:35.41038
[150]	validation_0-rmse:32.53152
[200]	validation_0-rmse:31.17250
[250]	validation_0-rmse:30.21532
[300]	validation_0-rmse:29.66944
[350]	validation_0-rmse:29.35268
[400]	validation_0-rmse:29.04529
[450]	validation_0-rmse:28.78276
[500]	validation_0-rmse:28.70829
[550]	validation_0-rmse:28.62068
[600]	validation_0-rmse:28.58519
[650]	validation_0-rmse:28.57910
[700]	validation_0-rmse:28.58048
[750]	validation_0-rmse:28.55051
[800]	validation_0-rmse:28.54508
[850]	validation_0-rmse:28.54816
[879]	validation_0-rmse:28.54692
[0]	validation_0-rmse:423.85962
[50]	validation_0-rmse:43.98984
[100]	validation_0-rmse:35.48159
[150]	validation_0-rmse:32.46102
[200]	validation_0-rmse:31.46312
[250]	validation_0-rmse:30.99468
[300]	validation_0-rmse:30.47476
[350]	validation_0-rmse:30.22954
[400]	validation_0-rmse:30.05426
[450]	validation_0-rmse:29.96207
[500]	validation_0-rmse:29.90595
[550]	validation_0-rmse:29.85041
[600]	validation_0-rmse:29.76941
[650]	validation_0-rmse:29.70896
[700]	validation_0-rmse:29.72754
[750]	validation_0-rmse:29.75728
[800]	validation_0-rmse:29.73308
[821]	validation_0-rmse:29.73362

In [30]:
scores2

[28.812466, 30.540237, 28.11904, 28.521111, 29.662239]

In [31]:
results2 = pd.DataFrame(results2).T
results2.head()

             0            1            2            3           4
0   397.276062   409.089447   413.905182   401.212219  401.337036
1   584.553894   618.694702   639.243225   615.587830  640.405762
2   172.639755   178.387222   194.043961   194.857544  175.887024
3   679.040405   698.676270   613.682068   669.207153  681.485229
4  1019.246155  1060.575073  1042.529053  1031.053589  984.343140

In [32]:
preds = results2.mean(axis=1)
preds.head()

0     404.563989
1     619.697083
2     183.163101
3     668.418225
4    1027.549402
dtype: float64

In [33]:
out = pd.DataFrame({
    'row_id': full_test['row_id'],
    'num_sold': preds
})
out.head()

   row_id     num_sold
0   26298   404.563989
1   26299   619.697083
2   26300   183.163101
3   26301   668.418225
4   26302  1027.549402

In [34]:
out.to_csv('with_weekdays20220128.csv', index=False)

In [50]:
X.head()

        le_country  le_store  le_product  year  month  day  weekday
row_id
0                0         0           1  2015      1    1        3
1                0         0           0  2015      1    1        3
2                0         0           2  2015      1    1        3
3                0         1           1  2015      1    1        3
4                0         1           0  2015      1    1        3

In [51]:
test_X.head()

        le_country  le_store  le_product  year  month  day  weekday
row_id
26298            0         0           1  2019      1    1        1
26299            0         0           0  2019      1    1        1
26300            0         0           2  2019      1    1        1
26301            0         1           1  2019      1    1        1
26302            0         1           0  2019      1    1        1

### convert day to serial_day from 1st Jan.

In [53]:
X['sday'] = pd.to_datetime(X[['year', 'month', 'day']]).dt.dayofyear

In [54]:
test_X['sday'] = pd.to_datetime(test_X[['year', 'month', 'day']]).dt.dayofyear

In [64]:
results3, scores3 = score_xgb_kfold(X, y, test_X, eta=0.03)

[0]	validation_0-rmse:458.00244
[50]	validation_0-rmse:118.25147
[100]	validation_0-rmse:55.24551
[150]	validation_0-rmse:43.28917
[200]	validation_0-rmse:38.90112
[250]	validation_0-rmse:36.13833
[300]	validation_0-rmse:34.34121
[350]	validation_0-rmse:33.42573
[400]	validation_0-rmse:32.84281
[450]	validation_0-rmse:32.25363
[500]	validation_0-rmse:31.56873
[550]	validation_0-rmse:31.01458
[600]	validation_0-rmse:30.58668
[650]	validation_0-rmse:30.36816
[700]	validation_0-rmse:30.14821
[750]	validation_0-rmse:29.98804
[800]	validation_0-rmse:29.89901
[850]	validation_0-rmse:29.64291
[900]	validation_0-rmse:29.46349
[950]	validation_0-rmse:29.41439
[1000]	validation_0-rmse:29.30040
[1050]	validation_0-rmse:29.25897
[1100]	validation_0-rmse:29.23611
[1150]	validation_0-rmse:29.21549
[1200]	validation_0-rmse:29.15717
[1250]	validation_0-rmse:29.12448
[1300]	validation_0-rmse:29.12872
[1350]	validation_0-rmse:29.13255
[1361]	validation_0-rmse:29.12110
[0]	validation_0-rmse:459.98288
[50]	validation_0-rmse:121.41372
[100]	validation_0-rmse:58.07236
[150]	validation_0-rmse:45.07673
[200]	validation_0-rmse:40.54535
[250]	validation_0-rmse:37.53431
[300]	validation_0-rmse:35.94151
[350]	validation_0-rmse:35.00438
[400]	validation_0-rmse:34.31623
[450]	validation_0-rmse:33.63336
[500]	validation_0-rmse:32.94209
[550]	validation_0-rmse:32.59828
[600]	validation_0-rmse:32.16711
[650]	validation_0-rmse:32.02016
[700]	validation_0-rmse:31.63957
[750]	validation_0-rmse:31.53091
[800]	validation_0-rmse:31.36569
[850]	validation_0-rmse:31.32160
[900]	validation_0-rmse:31.01471
[950]	validation_0-rmse:30.95604
[1000]	validation_0-rmse:30.93885
[1050]	validation_0-rmse:30.90364
[1100]	validation_0-rmse:30.71506
[1150]	validation_0-rmse:30.51725
[1200]	validation_0-rmse:30.48669
[1250]	validation_0-rmse:30.47311
[1300]	validation_0-rmse:30.36158
[1350]	validation_0-rmse:30.29044
[1400]	validation_0-rmse:30.24233
[1450]	validation_0-rmse:30.21491
[1500]	validation_0-rmse:30.17615
[1550]	validation_0-rmse:30.18189
[1600]	validation_0-rmse:30.18677
[1621]	validation_0-rmse:30.17919
[0]	validation_0-rmse:451.27621
[50]	validation_0-rmse:118.83348
[100]	validation_0-rmse:55.45314
[150]	validation_0-rmse:42.65732
[200]	validation_0-rmse:38.31305
[250]	validation_0-rmse:35.94551
[300]	validation_0-rmse:34.24878
[350]	validation_0-rmse:33.05939
[400]	validation_0-rmse:32.01166
[450]	validation_0-rmse:31.20199
[500]	validation_0-rmse:30.56965
[550]	validation_0-rmse:30.19615
[600]	validation_0-rmse:29.82246
[650]	validation_0-rmse:29.41194
[700]	validation_0-rmse:29.16864
[750]	validation_0-rmse:28.99076
[800]	validation_0-rmse:28.82604
[850]	validation_0-rmse:28.70650
[900]	validation_0-rmse:28.55458
[950]	validation_0-rmse:28.53084
[1000]	validation_0-rmse:28.36550
[1050]	validation_0-rmse:28.17797
[1100]	validation_0-rmse:28.12219
[1150]	validation_0-rmse:28.09466
[1200]	validation_0-rmse:28.04199
[1250]	validation_0-rmse:27.98368
[1300]	validation_0-rmse:27.96325
[1350]	validation_0-rmse:27.91396
[1400]	validation_0-rmse:27.88121
[1450]	validation_0-rmse:27.87801
[1500]	validation_0-rmse:27.85654
[1550]	validation_0-rmse:27.84673
[1600]	validation_0-rmse:27.82918
[1650]	validation_0-rmse:27.80050
[1700]	validation_0-rmse:27.76712
[1750]	validation_0-rmse:27.74937
[1800]	validation_0-rmse:27.69315
[1850]	validation_0-rmse:27.67802
[1900]	validation_0-rmse:27.67718
[1950]	validation_0-rmse:27.66965
[2000]	validation_0-rmse:27.67207
[2050]	validation_0-rmse:27.63351
[2100]	validation_0-rmse:27.62434
[2150]	validation_0-rmse:27.63191
[2200]	validation_0-rmse:27.63701
[2220]	validation_0-rmse:27.63094
[0]	validation_0-rmse:455.76880
[50]	validation_0-rmse:117.04481
[100]	validation_0-rmse:53.01971
[150]	validation_0-rmse:40.37323
[200]	validation_0-rmse:36.04410
[250]	validation_0-rmse:33.75568
[300]	validation_0-rmse:32.36520
[350]	validation_0-rmse:31.55232
[400]	validation_0-rmse:30.96836
[450]	validation_0-rmse:30.15821
[500]	validation_0-rmse:29.70777
[550]	validation_0-rmse:29.18611
[600]	validation_0-rmse:29.00747
[650]	validation_0-rmse:28.78374
[700]	validation_0-rmse:28.55621
[750]	validation_0-rmse:28.43533
[800]	validation_0-rmse:28.35589
[850]	validation_0-rmse:28.24230
[900]	validation_0-rmse:28.11950
[950]	validation_0-rmse:28.04270
[1000]	validation_0-rmse:28.01300
[1050]	validation_0-rmse:28.00062
[1100]	validation_0-rmse:27.98584
[1150]	validation_0-rmse:27.92656
[1200]	validation_0-rmse:27.90011
[1250]	validation_0-rmse:27.84216
[1300]	validation_0-rmse:27.79610
[1350]	validation_0-rmse:27.75612
[1400]	validation_0-rmse:27.76232
[1422]	validation_0-rmse:27.75092
[0]	validation_0-rmse:455.12421
[50]	validation_0-rmse:121.59455
[100]	validation_0-rmse:57.28013
[150]	validation_0-rmse:43.98011
[200]	validation_0-rmse:38.95646
[250]	validation_0-rmse:36.20339
[300]	validation_0-rmse:34.63966
[350]	validation_0-rmse:33.61187
[400]	validation_0-rmse:32.85123
[450]	validation_0-rmse:32.23346
[500]	validation_0-rmse:31.73661
[550]	validation_0-rmse:31.25155
[600]	validation_0-rmse:31.02510
[650]	validation_0-rmse:30.74752
[700]	validation_0-rmse:30.58764
[750]	validation_0-rmse:30.45593
[800]	validation_0-rmse:30.33134
[850]	validation_0-rmse:30.24966
[900]	validation_0-rmse:29.99044
[950]	validation_0-rmse:29.79259
[1000]	validation_0-rmse:29.74097
[1050]	validation_0-rmse:29.61642
[1100]	validation_0-rmse:29.49662
[1150]	validation_0-rmse:29.39959
[1200]	validation_0-rmse:29.33395
[1250]	validation_0-rmse:29.30535
[1300]	validation_0-rmse:29.29761
[1350]	validation_0-rmse:29.31527
[1400]	validation_0-rmse:29.27063
[1450]	validation_0-rmse:29.29526
[1500]	validation_0-rmse:29.31932
[1510]	validation_0-rmse:29.31440

In [65]:
scores2

[28.812466, 30.540237, 28.11904, 28.521111, 29.662239]

In [66]:
scores3

[29.1187, 30.170406, 27.618389, 27.745291, 29.268229]

In [68]:
results3

[array([ 420.65363,  617.4335 ,  174.45381, ..., 1021.9554 , 1433.4446 ,
         396.70563], dtype=float32),
 array([ 416.36984,  625.9053 ,  179.8385 , ...,  929.1623 , 1438.0675 ,
         389.00778], dtype=float32),
 array([ 406.59613,  625.28625,  181.7905 , ...,  996.2628 , 1446.896  ,
         395.57428], dtype=float32),
 array([ 404.17358,  618.67926,  198.03099, ..., 1011.9286 , 1444.871  ,
         383.09375], dtype=float32),
 array([ 407.74136,  623.9006 ,  178.29012, ..., 1023.7776 , 1520.6176 ,
         383.35718], dtype=float32)]

In [69]:
preds = pd.DataFrame(results3).T.mean(axis=1)

In [71]:
out = pd.DataFrame({
    'row_id': full_test['row_id'],
    'num_sold': preds
})
out.head()

   row_id     num_sold
0   26298   411.106909
1   26299   622.240967
2   26300   182.480783
3   26301   678.351819
4   26302  1044.125024

In [72]:
out.to_csv('./20220131.csv', index=False)